@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AidCare</h1>
    <p> Hello! AidCare is a website about helping lesser known countries that big charities such as 40hour famine often ignore such as Laos, Mozambique, the DRC (Democratic Republic of the Congo) </a>.</p>
</div>
  